.project_header{
  color: white;
  margin: 10px;
}

#contentPart{
  background-color: grey;
}

.panel{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.btn{
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  border-radius: 50%;
}
